/*.container {
    background-color: #efefef;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    margin: 0 auto;
}

.relativeBox {
    background-color: #ffc416;
    width: 125px;
    height: 125px;
}*/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f2f2f2;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.btn {
    border: 1px solid #000;
    background-color: #f2f2f2; /* Green */
    color: #000;
    width: 120px;
    padding: 15px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 0 auto;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
    background-color: #000;
    border: none;
    font-weight: 600;
}

.btns {
    margin: 0 auto;
    display: block;
    width: 20%;
}

.container {
    width: 300px;
    height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    perspective: 1000px;
    transform-style: preserve-3d;
}

.container .item {
    width: 100%;
    height: 100%;
    position: absolute;

    border: 1px solid black;
    transition: transform 1s;
}

img {
    width: 300px;
    height: 300px;
}
/*.item:nth-child(1) {
    transform: rotateY(0deg) translateZ(115.5px);
    background-color: rgba(255, 0, 0, 0.5);
}

.item:nth-child(2) {
    transform: rotateY(120deg) translateZ(115.5px);
    background-color: rgba(0, 255, 0, 0.5);
}

.item:nth-child(3) {
    transform: rotateY(240deg) translateZ(115.5px);
    background-color: rgba(0, 0, 255, 0.5);
}*/
