* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f0eff0;
}

h1 {
	text-align: center;
	font-family: 'Muli', sans-serif;
	padding: 50px;
	color: #fff;
}

header {
	background-color: #000;
	border-bottom: 2px solid #ec4d5f;
}

.gallery {
	text-align: center;
	margin-top: 20px;
}

.img-gallery {
	margin: 0 auto;
	height: 500px;
	width: 350px;
}

.back {
	margin: 0 20px 400px 0;
}

.next {
	margin: 0 0 400px 20px;
}
